fastapi
uvicorn[standard]

pydantic
python-dotenv

requests

numpy
pandas

sentence-transformers
transformers
torch

qdrant-client

youtube-transcript-api
google-api-python-client

yt-dlp

instaloader

faster-whisper

openai-whisper

tensorflow

python-multipart
